<!DOCTYPE html>
<html>
  <head>
    <title>APP | Watching films</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "ForStyles/dropeddown", "data-turbo-track": "reload" %> 
    <%= javascript_include_tag "ForStyles/tooltip", "data-turbo-track": "reload" %> 
    <%= javascript_include_tag "ForStyles/search", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body data-header-target = "closeUserMenu">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'layouts/header' %>

    <main class="max-w-[1300px] p-4 my-3 mx-auto rounded-md bg-[#fff]">
      <%= yield %>
    </main>

    <%= render 'layouts/footer'%>

  </body>
  <script src="https://kit.fontawesome.com/06f9f7f69f.js" crossorigin="anonymous"></script>
</html>
